$font-family: 'Source Code Pro', Consolas, Courier;

body {
  font-family: $font-family;
  transition: background .2s linear;

  &.dark {
    background: #010101;

    .theme-switch {
      color: #fff;

      svg { fill: #fff; }
    }

    .tip-content {
      h3 {
        color: #fff;
      }

      .language-tag {
        span {
          background: #010101;
          box-shadow: 0 0 0 6px #010101;
        }
      }

      .new-tip {
        span {
          box-shadow: 0 0 0 6px #010101;
        }
      }
    }

    footer {
      color: #333;

      a {
        color: #666;
      }
    }

    .added-by {
      color: #444;

      a {
        color: #777;
      }
    }

    .logo {
      .symbol {
        color: #fff;
      }
    }
  }
}

.logo {
  text-align: center;

  .symbol {
    font-size: 3em;
  }

  .label {
    text-transform: uppercase;
    color: #777;
    font-size: 12px;
    font-weight: 500;
  }
}

.theme-switch {
  position: fixed;
  right: 15px;
  top: 15px;
  background: none;
  border: none;
  font-size: 24px;
  outline: 0;
  cursor: pointer;
  cursor: hand;
  z-index: 9999;
  color: #000;

  svg {
    fill: #000;
  }
}

.code-container {
  position: relative;

  &:hover {
    .copy-to-clipboard {
      display: block;
    }
  }
}

.tip-content {
  margin: 0 auto 15vh;
  position: relative;

  .language-tag {
    position: absolute;
    width: 100%;
    text-align: center;
    top: -10px;

    span {
      border: 1px #1f7df8 solid;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600;
      display: inline-block;
      padding: 5px 8px;
      border-radius: 4px;
      color: #1f7df8;
      background: #fff;
      box-shadow: 0 0 0 6px #fff;
    }
  }

  h3 {
    font-weight: 400;
    margin: 10px 0 30px;
  }

  pre {
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.7em;
    padding: 25px 25px 45px !important;

    * {
      font-family: $font-family;
    }
  }

  button {
    border: none;
    font-size: 20px;
    font-family: $font-family;
    background: #1f7df8;
    color: #fff;
    margin: 40px auto;
    display: block;
    padding: 15px 20px;
    border-radius: 6px;
    cursor: pointer;
    cursor: hand;
    transition: background .3s linear;

    &:hover {
      background: darken(#1f7df8, 15%);
    }
  }
}

.copy-to-clipboard {
  position: absolute;
  right: 15px;
  top: 20px;
  cursor: pointer;
  cursor: hand;
  color: #999;
  display: none;

  &:hover {
    color: #000;
  }
}

footer {
  font-size: 13px;
  color: #ccc;
  line-height: 1.8em;
  position: fixed;
  top: 45%;
  padding-left: 20px;

  a {
    color: #999;
    text-decoration: none;
    display: block;
    padding: 5px 0;

    &:hover {
      color: #1f7df8;
    }
  }
}

.added-by {
  text-align: right;
  font-size: 11px;
  color: #bbb;
  padding-right: 10px;

  a {
    color: #888;
    text-decoration: none;
  }
}

.categories {
  margin: 80px 0;

  button {
    border: none;
    border: 1px #ccc solid;
    text-transform: uppercase;
    font-family: $font-family;
    font-weight: 500;
    border-radius: 4px;
    display: inline-block;
    margin-right: 5px;
    padding: 3px 10px;
    color: #999;
    cursor: pointer;
    cursor: hand;
    outline: 0;
    background: none;

    &:hover {
      color: #555;
      border-color: #555;
    }

    &.active {
      color: #fff;
      background: #1f7df8;
      border-color: #1f7df8;
    }
  }
}

.new-tip {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -10px;
  z-index: 9999;

  span {
    color: #fff;
    background: #f5222d;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 13px;
    box-shadow: 0 0 0 6px #fff;
  }
}

@media only screen and (max-width: 600px) {
  .copy-to-clipboard {
    display: block;
  }

  footer {
    top: 20px;
    width: 100px;
    display: flex;
    align-items: center;
    position: absolute;

    a {
      display: inline-block;
      padding-right: 15px;
    }
  }
}
