$font-family: 'Source Code Pro', Consolas, Courier;

body {
  font-family: $font-family;
  transition: background .2s linear;

  &.dark {
    background: #010101;

    .theme-switch {
      color: #fff;

      svg { fill: #fff; }
    }

    .tip-content {
      h3 {
        color: #fff;
      }
    }

    footer {
      color: #333;

      a {
        color: #666;
      }
    }

    .view-switch {
      &:hover {
        color: #ccc;
        border-color: #ccc;
      }
    }

    .added-by {
      color: #444;

      a {
        color: #777;
      }
    }
  }
}

.theme-switch {
  position: fixed;
  right: 15px;
  top: 15px;
  background: none;
  border: none;
  font-size: 24px;
  outline: 0;
  cursor: pointer;
  cursor: hand;
  z-index: 9999;
  color: #000;

  svg {
    fill: #000;
  }
}

.view-switch {
  position: fixed;
  left: 15px;
  top: 15px;
  font-size: 11px;
  display: flex;
  align-items: center;
  border: 1px #999 solid;
  padding: 5px 10px;
  border-radius: 4px;
  color: #999;
  cursor: pointer;
  cursor: hand;

  svg {
    margin-right: 5px;
  }

  &:hover {
    border-color: #222;
    color: #222;
  }
}


.tip-content {
  margin: 15vh auto 0;
  position: relative;

  .language-tag {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    border: 1px #1f7df8 solid;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 4px;
    color: #1f7df8;
  }

  h3 {
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 10px 0 0;
  }

  pre {
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.7em;
    padding: 25px 25px 45px !important;

    * {
      font-family: $font-family;
    }
  }

  button {
    border: none;
    font-size: 20px;
    font-family: $font-family;
    background: #1f7df8;
    color: #fff;
    margin: 40px auto;
    display: block;
    padding: 15px 20px;
    border-radius: 6px;
    cursor: pointer;
    cursor: hand;
    transition: background .3s linear;

    &:hover {
      background: darken(#1f7df8, 15%);
    }
  }
}

.copy-to-clipboard {
  position: absolute;
  right: 15px;
  top: 85px;
  cursor: pointer;
  cursor: hand;
  color: #999;

  &:hover {
    color: #000;
  }
}

footer {
  margin-top: 50px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
  line-height: 1.8em;

  a {
    color: #999;
    text-decoration: none;
  }
}

.added-by {
  text-align: right;
  font-size: 11px;
  color: #bbb;
  padding-right: 10px;

  a {
    color: #888;
    text-decoration: none;
  }
}
